<div class="text-center mt-5">
  <h3 class="font-weight-bold ">Chúng tôi cam kết</h3>
  <div class="d-flex justify-content-between mt-5 ">
    <div class="d-flex justify-content-center w-100 ">
      <div>
        <img src="/assets/images/time.png" />
        <h3 class="font-weight-bold">Giao hàng</h3>
        <div>
          Chúng tôi đảm bảo giao hàng đúng thời gian như thỏa thuận
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center w-100">
      <div>
        <img src="/assets/images/chatluon.png" />
        <h3 class="font-weight-bold">Chất lượng</h3>
        <div>
          Chúng tôi đảm bảo giao hàng đúng thời gian như thỏa thuận
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center w-100">
      <div>
        <img src="/assets/images/strong.png" />
        <h3 class="font-weight-bold">Chuyên nghiệp</h3>
        <div>
          Chúng tôi đảm bảo giao hàng đúng thời gian như thỏa thuận
        </div>
      </div>
    </div>
  </div>
</div>