<div class=" mt-5 background pb-5">
  <div class="container">
    <h3 class="pt-5 pb-3 d-flex justify-content-center font-weight-bold">
      Sản phẩm giấy gói
    </h3>
    <div class="d-flex justify-content-center">
      <nav class="nav">
        <a class="nav-link h5 " (click)="show()">
          <div>
              Bánh bao
              <div class="line mt-2" @line *ngIf="isShow"></div>
          </div>
        </a>
        <a class="nav-link h5 " href="#">Bánh mì</a>
        <a class="nav-link h5 " href="#">Thuốc bắc</a>
      </nav>
    </div>
    <div class="d-flex justify-content-center" @move *ngIf="isShow">
      <app-product-card rate="4" title="Gói bánh bao"   price="80.000" image="/assets/images/white-paper.png" color="#3EC1D5"></app-product-card>
      <app-product-card rate="4" title="Gói bánh bao" price="80.000" image="/assets/images/white-paper.png" color="#74D384"></app-product-card>
      <app-product-card rate="4" title="Gói bánh bao" price="80.000" image="/assets/images/white-paper.png" color="#FFCE44"></app-product-card>
    </div>
  </div>
</div>