.header{
    background-color: #00DA4D;
    height: 50px;
    width: 100%;
}
a{
    color:black;
}
.heightHeader{
    width: 100%;
}
.h-75x{
    width: 90%;
}
.desktop{
    display: none;
}
.mobile{
    display: block;
}
.w-60{
    width: 60%;
}

.w-40{
    width: 40%;
}

.size-button{
    width:40px;
    height: 15px;
}
.position-absolute{
    position: absolute;
}


.hidden-header{
    display: none;
}

.position-fixed{
    position: static;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #FFFFFF;
    z-index: 1000;
}

.mr-10{
    margin-right: 10%;
}

@media only screen and (max-width: 600px) {
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .heightHeader{
        width: 100%;
    }
    .h-75x{
        width: 90%;
    }
} 
 /* mobile */



@media only screen and (min-width: 768px) {
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .heightHeader{
        width: 100%;
    }
    .h-75x{
        width: 90%;
    }
    
} 




/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .desktop{
        display: block;
    }
    .mobile{
        display: none;
    }
    .heightHeader{
        width: 80%;
    }
    .h-75x{
        width: 100%;
    }
}