.header{
    background-color: #00DA4D;
    height: 50px;
    width: 100%;
}
a{
    color:black;
}
.heightHeader{
    height:700px;
}

.w-60{
    width: 60%;
}

.w-40{
    width: 40%;
}

.size-button{
    width:40px;
    height: 15px;
}
.position-absolute{
    position: absolute;
}
.h-75x{
    height: 600px;
}

.hidden-header{
    display: none;
}

.position-fixed{
    position: static;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #FFFFFF;
    z-index: 1000;
}

.mr-10{
    margin-right: 10%;
}