<div class="desktop">
  <div class="header d-flex align-items-center justify-content-end" [ngClass]="{'hidden-header':isScroll}">
    <div class="p-3">Điện thoại</div>
    <a class="mr-5 pr-3" href=”tel:+0365240627″>0123456789</a>
  </div>
  <div class="d-flex justify-content-end  font-weight-bold " [ngClass]="{'position-fixed':isScroll}">
    <nav class="nav mr-10 pt-2 pb-2">
      <a class="nav-link active" href="#">Trang chủ</a>
      <a class="nav-link" href="#">Sản phẩm</a>
      <a class="nav-link" href="#">Liên hệ</a>
      <a class="nav-link " href="#">Thông tin</a>
    </nav>
  </div>
</div>
<div class="mobile">
  <div class="header d-flex align-items-center justify-content-center" [ngClass]="{'hidden-header':isScroll}">
    <div class="p-3">Điện thoại <a class="mr-5 pr-3" href=”tel:+0365240627″>0123456789</a></div>
    <a (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseEvent"><img
        style="position:fixed; top:0;right:0;" src="/assets/images/menu.png" alt="menu" /></a>
  </div>
  <div id="collapseEvent" class="card p-2" [collapse]="isCollapsed">
    <a class="nav-link" href="#">Trang chủ</a>
    <a class="nav-link" href="#">Sản phẩm</a>
    <a class="nav-link" href="#">Liên hệ</a>
    <a class="nav-link " href="#">Thông tin</a>
  </div>
</div>
<carousel class="desktop">
  <slide>
    <div class="d-flex">
      <div class="mr-auto ml-5 d-flex align-items-center justify-content-center w-40 heightHeader flex-column">
        <h3 class="font-weight-bold">
          Giấy gói bánh bao
        </h3>
        <div class="mt-2 text-center">
          Dùng để gói bánh bao và các loại đồ ăn vặt
        </div>
        <br />
        <button class="btn btn-outline-success">Chi tiết sản phẩm</button>
        <br />
        <div class="d-flex">
          <button class="m-2 btn-success size-button" (click)="changeImage('white')"></button>
          <button class="m-2 btn-warning size-button" (click)="changeImage('yellow')"></button>
          <button class="m-2 btn-danger size-button" (click)="changeImage('red')"></button>
        </div>
      </div>
      <div class=" mr-5 d-flex align-items-center  w-60 justify-content-center heightHeader flex-column ">
        <img class="heightHeader" src="/assets/images/pattern.png" />
        <div class="position-absolute text-center">
          <img class="heightHeader h-75x" [src]="urlImage" />
        </div>
      </div>
    </div>
  </slide>
  <slide>
    <div class="d-flex">
      <div class="mr-auto ml-5 d-flex align-items-center justify-content-center w-40 heightHeader flex-column">
        <h3 class="font-weight-bold">
          Giấy gói bánh mì
        </h3>
        <div class="mt-2 text-center">
          Một món ăn đặc trưng cho văn hóa ẩm thực đường phố ưa thích, nên nhu cầu sử dụng túi giấy đựng bánh mì được
          phổ biến và cần thiết trên thị trường.
        </div>
        <br />
        <button class="btn btn-outline-success">Chi tiết sản phẩm</button>

      </div>
      <div class=" mr-5 d-flex align-items-center  w-60 justify-content-center heightHeader flex-column alert-success">
        <img class="heightHeader" src="/assets/images/pattern.png" />
        <div class="position-absolute">
          <img class="heightHeader h-75x" src="/assets/images/banhmi.png" />
        </div>
      </div>
    </div>
  </slide>

  <slide>
    <div class="d-flex">
      <div class="mr-auto ml-5 d-flex align-items-center justify-content-center w-40 heightHeader flex-column">
        <h3 class="font-weight-bold">
          Giấy gói thuốc bắc
        </h3>
        <div class="mt-2 text-center">
          Một món ăn đặc trưng cho văn hóa ẩm thực đường phố ưa thích, nên nhu cầu sử dụng túi giấy đựng bánh mì được
          phổ biến và cần thiết trên thị trường.
        </div>
        <br />
        <button class="btn btn-outline-success">Chi tiết sản phẩm</button>
        <br />
        <div class="d-flex">
          <button class="m-2 btn-success size-button" (click)="changeImage('white')"></button>
          <button class="m-2 btn-warning size-button" (click)="changeImage('yellow')"></button>
          <button class="m-2 btn-danger size-button" (click)="changeImage('red')"></button>
        </div>
      </div>
      <div class=" mr-5 d-flex align-items-center  w-60 justify-content-center heightHeader flex-column ">
        <img class="heightHeader" src="/assets/images/pattern.png" />
        <div class="position-absolute">
          <img class="heightHeader h-75x" src="/assets/images/thuocbac.png" />
        </div>
      </div>
    </div>
  </slide>
</carousel>

<carousel class="mobile mt-3">
  <slide>
    <div class="d-flex flex-column align-items-center justify-content-center">
      <h3 class="font-weight-bold">
        Giấy gói bánh bao
      </h3>
      <div class="d-flex align-items-center   justify-content-center heightHeader flex-column">
        <img class="heightHeader" src="/assets/images/pattern.png" />
        <div class="position-absolute text-center">
          <img class="heightHeader h-75x" [src]="urlImage" />
        </div>
      </div>
      <br />
      <div class="d-flex">
        <button class="m-2 btn-success size-button" (click)="changeImage('white')"></button>
        <button class="m-2 btn-warning size-button" (click)="changeImage('yellow')"></button>
        <button class="m-2 btn-danger size-button" (click)="changeImage('red')"></button>
      </div>
      <br />
      <button class="btn btn-outline-success">Chi tiết sản phẩm</button>
    </div>
  </slide>
  <slide>
      <div class="d-flex flex-column align-items-center justify-content-center">
        <h3 class="font-weight-bold">
            Giấy gói bánh mì
        </h3>
  
  
        <div class="d-flex align-items-center  justify-content-center heightHeader flex-column">
            <img class="heightHeader" src="/assets/images/pattern.png" />
            <div class="position-absolute text-center">
              <img class="heightHeader h-75x" src="/assets/images/banhmi.png" />
            </div>
        </div>
        <br />
        <div class="d-flex">
          <button class="m-2 btn-success size-button" (click)="changeImage('white')"></button>
          <button class="m-2 btn-warning size-button" (click)="changeImage('yellow')"></button>
          <button class="m-2 btn-danger size-button" (click)="changeImage('red')"></button>
        </div>
        <br />
        <button class="btn btn-outline-success">Chi tiết sản phẩm</button>
      </div>
    </slide>
    <slide>
        <div class="d-flex flex-column align-items-center justify-content-center">
          <h3 class="font-weight-bold">
            Giấy gói bánh bao
          </h3>
    
    
          <div class="d-flex align-items-center   justify-content-center heightHeader flex-column">
              <img class="heightHeader" src="/assets/images/pattern.png" />
              <div class="position-absolute text-center">
                <img class="heightHeader h-75x" src="/assets/images/thuocbac.png" />
              </div>
          </div>
          <br />
          <div class="d-flex">
            <button class="m-2 btn-success size-button" (click)="changeImage('white')"></button>
            <button class="m-2 btn-warning size-button" (click)="changeImage('yellow')"></button>
            <button class="m-2 btn-danger size-button" (click)="changeImage('red')"></button>
          </div>
          <br />
          <button class="btn btn-outline-success">Chi tiết sản phẩm</button>
        </div>
      </slide>
</carousel>