/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.background{
    background-color: #f1f1f1;
}
.line{
    width: 80px;
    height: 1px;
    background-color: white;
    border-top: 1px dotted black;
}
.text{
    font-weight: 500;
}

span.carousel-control-next-icon{
    background-image: url("https://image.flaticon.com/icons/png/512/118/118740.png") !important;
}

span.carousel-control-prev-icon{
    background-image: url("http://downloadicons.net/sites/default/files/previous-page-arrow-icon-76266.png") !important;
}
li.ng-star-inserted{
    background-color: black !important;
}